#header {
  width: 100%;
  height: 150px;
  background-color: #616161;
}

@keyframes appear {
    from {
      -ms-transform: translate(0px, -10px); /* IE 9 */
      -webkit-transform: translate(0px, -10px); /* Safari */
      transform: translate(0px, -10px);
      opacity: 0;
          }
    to {
      -ms-transform: translate(0px, 0px); /* IE 9 */
      -webkit-transform: translate(0px, 0px); /* Safari */
      transform: translate(0px, 0px);
      opacity: 100;
    }
}

@mixin dropdown($from, $to) {
  @keyframes dropping {
      from {
        -ms-transform: translate(0px, $from); /* IE 9 */
        -webkit-transform: translate(0px, $from); /* Safari */
        transform: translate(0px, $from);
            }
      to {
        -ms-transform: translate(0px, $to); /* IE 9 */
        -webkit-transform: translate(0px, $to); /* Safari */
        transform: translate(0px, $to);
      }
  }
  animation-name: dropping;
  animation-duration: 3s;
}

@mixin stationaryImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes delayedPopup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes pushDown {
    from {
      -ms-transform: translate(0px, -5px); /* IE 9 */
      -webkit-transform: translate(0px, -5px); /* Safari */
      transform: translate(0px, -5px);
          }
    to {
      -ms-transform: translate(0px, 0px); /* IE 9 */
      -webkit-transform: translate(0px, 0px); /* Safari */
      transform: translate(0px, 0px);
    }
}

.navbar_item {
  font-size: 1em;
  color: white;
  margin-top: 16.5px;
  display: inline-block;
}

.navbar_item:hover {
  color: white;
}

.navbar_item_container:hover {
  background-color: #3c3c3c;
}

.navbar_item_container {
  width: fit-content;
  text-align: center;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_bar {
  display: inline-block;
}

.header_title {
  display: inline-block;
  height: 50px;
  float: left;
  margin-top: 100px;
  margin-left: 165px;
}

.header_title h1 {
  color: white;
  margin: 0px;
  margin-top: 15px;
  animation-name: pushDown;
  animation-duration: 3s;
}


#header_title_logo {
  width: 150px;
  height: 150px;
  display: inline-block;
  float: left;
  background-color: #f5f8fa;
  margin-top: 25px;
  margin-left: 15px;
  border: 2px solid black;
  margin-right: 5px;
  position: absolute;
}

#nav_bar_container {
  display: inline-block;
  float: right;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.body {
  max-height: fit-content;
}

#footer {
  width: 100%;
  height: 240px;
  background-color: #0c0c0c;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  overflow: hidden;
}

.menu_item_container {
  width: 100px;
  height: 30px;
  text-align: center;
  animation-name: delayedPopup;
  animation-duration: 3s;
}

.menu_item_container a {
  color: white;
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 3.5px;
  display: inline-block;
}

.menu_item_container:hover {
  background-color: #101010;
}

.menu_header_container {
  width: 100px;
  height: 30px;
  text-align: center;
  display: block;
}

#footer_address {
  text-align: left;
  width: 155px;
  height: fit-content;
}

.menu_header_container p {
  color: white;
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 3.5px;
  display: inline-block;
  white-space: nowrap;
}

.menu_container {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  float: left;
  margin-right: 100px;
}

#footer_address_container {
  float: left;
  margin-right: 0px;
}

#footer_icon_area {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  margin-top: 90px;
  float: right;
}

#footer_icon_area p {
  font-size: 4em;
  color: white;
  margin: 0px;
  display: inline-block;
  float: right;
}

#footer_icon {
  width: 45px;
  height: 45px;
  background-color: white;
  display: inline-block;
  float: left;
  margin-top: 22px;
  border: 2px solid darkgoldenrod;
}

#home_body {
  width: 100%;
  height: fit-content;
  background-color: ivory;
  overflow: hidden;
}

#home_body_header {
  color: black;
  width: 300px;
  height: 300px;
  margin-top: 25px;
}

#home_body_title {
  width: 100%;
  height: 300px;
  margin-left: 100px;
  display: inline-block;
  float: left;
  background-image: url('/images/painting_wall.jpg');
  @include stationaryImage;
}

#home_body_middle {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: block;
  float: right;
  margin-right: 100px;
}

#middle_desc {
  color: white;
  float: right;
  margin-left: 100px;
  margin-top: 25px;
}

#middle_desc h3 {
  font-size: 6em;
  margin: none;
}

#home_body_footer {
  width: 100%;
  height: 400px;
  background-image: url('/images/house_pavement.jpeg');
  @include stationaryImage;
  overflow: hidden;
}

#footer_desc {
  color: white;
  float: left;
  margin-left: 100px;
  margin-top: 165px;
}

#footer_desc h3 {
  font-size: 4em;
}

#footer_desc p {
  font-size: 3em;
}

#orders_body {
  width: 100%;
  height: 600px;
  background-color: khaki;
  padding: 10px;
  text-align: center;
}

#orders_body h2 {
  margin: 0px;
}

#options_container {
  width: 70%;
  height: 70%;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
}

.option_container {
  width: 33%;
  height: 49.5%;
  display: inline-block;
  margin-right: 0.25%;
  margin-top: 0.25%;
  float: left;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
}

#option_1 {
  background-color: #bb1414;
}

#option_2 {
  background-color: orange;
}

#option_3 {
  background-color: lightcoral;
}

#option_4 {
  background-color: #ffff43;
}

#option_5 {
  background-color: purple;
}

#option_6 {
  background-color: violet;
}

.option_container p {
  margin: 0px;
  color: white;
  font-size: 2em;
  margin-top: 25px;
}

.option_dropdown_link {
  width: 100%;
  height: 46px;
  margin-top: 155px;
  color: #313131;
  background-color: #ffffff7d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option_dropdown_link button {
  font-size: 1em;
  border: none;
  background-color: transparent;
}

@mixin option_dropdown {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  display: none;
}

#option_1_dropdown {
  background-image: url('/images/painting_wall_2.jpg');
  @include option_dropdown;
}

#option_2_dropdown {
  background-image: url('/images/conservatory.jpg');
  @include option_dropdown;
}

#option_3_dropdown {
  background-image: url('/images/plumbing.jpg');
  @include option_dropdown;
}

#option_4_dropdown {
  background-image: url('/images/house_paving.jpg');
  @include option_dropdown;
}

#option_5_dropdown {
  background-image: url('/images/laminate_flooring.jpg');
  @include option_dropdown;
}

#option_6_dropdown {
  background-image: url('/images/conservatory_2.jpg');
  @include option_dropdown;
}

.option_container:hover #option_1_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

.option_container:hover #option_2_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

.option_container:hover #option_3_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

.option_container:hover #option_4_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

.option_container:hover #option_5_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

.option_container:hover #option_6_dropdown {
  display: inline-block;
  @include dropdown(-100%, 0px);
}

#about_us_body {
  width: 100%;
  height: fit-content;
//  background-color: #fff1a3;
  background-image: url('/images/unfinished_house.jpg');
  background-size: cover;
  padding: 25px;
  text-align: center;
}

#about_us_body h2 {
  margin: 0px;
}

#about_us_desc {
  width: 60%;
  height: fit-content;
  overflow: hidden;
  margin: auto;
  font-size: 2em;
  background-color: #f5f5dc8a;
  border-radius: 10px;
}

#contact_body {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding-top: 25px;
}

#contact_body_topbox {
  width: 100%;
  height: 150px;
  position: relative;
  text-align: center;
}

#contact_body_lowerbox {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url('/images/england_map.png');
  background-size: cover;
}

#contact_body_content {
  width: 80%;
  position: absolute;
  height: 70%;
  border-radius: 10px;
  background-color: #808080b0;
  margin-top: -550px;
  margin-left: 10%;
  padding: 10px;
  overflow: hidden;
}

#contact_body_content_left {
  width: 49.5%;
  height: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid white;
  padding: 5px;
}

#contact_body_content_left img {
  width: 100%;
  height: 100%;
}

#contact_body_content_right {
  width: 49.5%;
  height: 100%;
  float: right;
  display: inline-block;
}

#contact_body_content_right h2 {
  margin: 0px;
  display: block;
  font-size: 3em;
  color: white;
}

#contact_body_content_right p {
  margin: 0px;
  display: block;
  font-size: 2em;
  color: lawngreen;
}

@media screen and (max-width: 768px) {
    #header_title_logo {
      display: none;
    }

    .header_title h1 {
      font-size: 1em;
      margin-top: 35px;
    }

    .header_title {
      margin-top: 25px;
    }

    .navbar_item_container {
      min-width: 30px;
      width: fit-content;
      height: 20px;
      padding: 2px;
    }

    .navbar_item {
      font-size: 0.625em;
      margin-top: 3.5px;
    }

    #header {
      height: 75px;
    }

    #footer_icon_area {
      display: none !important;
    }

    #footer_address_container {
      float: right !important;
    }

    .menu_container {
      margin: 0px;
    }

    #middle_desc h3 {
      font-size: 2em;
    }

    #home_body_title {
      width: 100%;
      height: 300px;
      margin-left: 0px;
      display: inline-block;
      background-image: none;
      background-color: violet;
    }

    #home_body_middle {
      margin-right: 0px;
      float: left;
    }

    #middle_desc {
      margin: 0px;
    }

    .header_title {
      margin: 0px;
    }

    #home_body_footer {
      background-image: none;
      height: fit-content;
      background-color: orange;
    }

    #footer_desc {
      margin: 0px;
    }

    #footer_desc h3 {
      font-size: 2em;
    }

    #footer_desc p {
      font-size: 1em;
    }

    .option_container {
      height: 33%;
      width: 49.5%;
    }

    .option_container p {
      font-size: 1.5em;
    }

    .option_dropdown_link {
      width: 100%;
      height: 46px;
      margin-top: 88px;
      display: inline-block;
    }

    #about_us_desc {
      width: 90%;
      font-size: 1.75em;
    }

    #contact_body_content {
      width: 80%;
      position: absolute;
      height: 70%;
      border-radius: 10px;
      background-color: #808080b0;
      margin-top: -550px;
      margin-left: 10%;
      padding: 10px;
      overflow: hidden;
    }

    #contact_body_content_left {
      width: 100%;
      height: 49.5%;
      display: inline-block;
      padding: 5px;
      border: none;
    }

    #contact_body_content_right {
      width: 100%;
      height: 49.5%;
      text-align: center;
    }

    #contact_body_content_right h2 {
      font-size: 1.625em;
    }

    #contact_body_content_right p {
      font-size: 1em;
    }

}
